# App
NODE_ENV=development
PORT=3000

# External API
CURRENCY_API_URL=https://api.currencyapi.com/v3
CURRENCY_API_KEY=your_api_key_here
DECIMAL_PRECISION=4

# Cache
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=300
# REDIS_PASSWORD=

# Logging
LOG_LEVEL=info